<!DOCTYPE html>
<html>
<head>
	<title>Error 404 | Random Game</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/404.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
	<link rel="icon" href="img/icons/undertale.ico" />
</head>

<body>
	<!-- Header that specifies the error -->
	<div id="title">
		<h1>Error 404</h1>
	</div>

	<!-- Sans quote -->
	<div id="sansQuote">
		<img src="/img/sans.png" />
		<p>* heya. <br />
		&nbsp; there is nothing here, kid. <br /><br /></p>
	</div>

	<!-- Go back link -->
	<div id="backLink">
		<a href="/"><span class="heart">♥</span> 
		<span class="text">Get back home</span></a>
	</div>

	<!-- Song player -->
	<audio id="songPlayer" src="/music/sans-theme.mp3" loop>

	<!-- JS script used to lower the volume of the song player -->
	<script>
		let songPlayer = document.getElementById('songPlayer');
		songPlayer.volume = 0.4;
		songPlayer.play();
	</script>
</body>
</html>
