<html>
<head>
	<title>Error 404 | Random Game</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/404.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
	<link rel="icon" href="img/icons/undertale.ico" />
</head>

<body>
	<!-- Header that specifies the error -->
	<div id="title">
		<h1>Error 404</h1>
	</div>

	<!-- Sans quote -->
	<div id="sansQuote">
		<img src="/img/sans.png" />
		<p>* <span id="sansText"></span></p>
	</div>

	<!-- Go back link -->
	<div id="backLink">
		<a href="/"><span class="heart">♥</span> 
		<span class="text">Get back home</span></a>
	</div>

	<!-- Song player -->
	<audio id="songPlayer" src="/audio/sans-theme.mp3" loop>

	<!-- JS script -->
	<script>
		/**
		 * Used to show Sans text. The ° and > char are replaced by <br /> and
		 * &nbsp; for typo.
		 * @param id {string}
		 * @param message {string}
		 * @param index {number}
		 * @param interval {number}
		 */
		function showText(id, message, index, interval, player) {
			if (index < message.length) {
				if (message[index] == '°' || message[index] == '>') {
					let toAdd = message[index++] == '°' ? '<br />' : '&nbsp;'
					document.getElementById(id).innerHTML += toAdd;
				} else {
					document.getElementById(id).innerHTML += message[index++];
				}
				setTimeout(() => {
					showText(id, message, index, interval);
				}, interval);
			}
		}

		/* used to lower the volume of the song player  */
		let songPlayer = document.getElementById('songPlayer');
		songPlayer.volume = 0.4;
		songPlayer.play();

		/* call the function for Sans'text */
		showText('sansText', 'heya. °> there is nothing here, kid.', 0, 50);
	</script>
</body>
</html>
