<html>
<!-- Header de la page -->
<%- include('includes/header.ejs', {title: title}) %>
<body>
	<!-- Wrapper -->
	<div id="page-wrapper">

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2><i class="fas fa-list-ul"></i> Game list</h2>
			</div>
		</section>

		<!-- List -->
		<section style="margin:auto; width:60%;">
	  		<div class="row">
				<div class="col-2 col-12-medium">
						<ul class="alt">
							<% games.forEach(function(game){ %>
	  							<li><%= game.name %></li>
	  						<% }); %>
						</ul>
				</div>
			</div>	
  		</section>



		<!-- Footer Menu -->
		<section id="footer">
			<div class="inner">
				<ul class="menulist">
					<li><i class="fas fa-random"></i> <a href="/">Random game</a></li>
					<li><i class="fas fa-plus"></i> <a href="add-game">Add a new game</a></li>
				</ul>
			</div>
		</section>
	</div>
</body>
</html>
