<html>
<!-- Header de la page -->
<%- include('includes/header.ejs', {title: title}) %>
<body>
	<!-- Wrapper -->
	<div id="page-wrapper">

		<!-- Banner -->
		<section style="margin-top: 5%; text-align: center">
			<div class="inner">
				<h2><i class="fas fa-gamepad"></i></i> Game list</h2>
			</div>
		</section>

		<!-- Game List -->
		<section style="margin:auto; width:80%; margin-top: 5%;">
			<% if (games) { %>
				<!-- Table containing the games -->
				<div class="table-wrapper">
					<table>
						<!-- Each games -->
						<% games.forEach(function(game) { %>
							<%- include('includes/game-row.ejs', {game: game}) %>
						<% }); %>

						<!-- Pagination
						<tfoot>
							<tr>
								<td colspan="1"></td>
								<td>→</td>
							</tr>
						</tfoot>
						 -->
					</table>
				</div>
			<% } else { %>
				<p>No games found !</p>
			<% } %>
  		</section>

		<!-- Footer Menu -->
		<section id="footer">
			<div class="inner">
				<ul class="menulist">
					<li><i class="fas fa-random"></i> <a href="/">Random game</a></li>
					<li><i class="fas fa-plus"></i> <a href="add-game">Add a new game</a></li>
				</ul>
			</div>
		</section>
	</div>
</body>
</html>
