@font-face {
    font-family: 'Sans';
	src: url('/fonts/sans.ttf');
}

@font-face {
	font-family: 'MonsterFriendFore';
	src: url('/fonts/MonsterFriendFore.otf');
}

html, body {
	height: 100%;
}

body {
	background-color: black;
	color: white;
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 35%;
}

h1 {
	font-family: 'MonsterFriendFore';
	font-size: 45px;
	text-align: center;
}

p {
	border: 3px solid white;
	padding: 15px;
	font-family: 'Sans';
	font-size: 28px;
}

#title {
	margin-top: 15%;
}

#sansQuote {
	margin-top: 25%;
}

#sansQuote img {
	display: block;
    margin: auto;
}
